body {
  font-family: 'Titillium Web', sans-serif;
  background-color: whitesmoke
  
}

.panel {
  color: black;
  font-size: .6cm;
  font-weight: 900;
  margin: 10px;
  text-align: right;
  border-radius: 0px;
  background-color: white !important
}
.article {
  background: url(../image/NBA_Logo.png) no-repeat left;
  background-size: contain;
  background-position: 5% 50%;
}

.btn-lg {
  color: black;
  border-radius: 50%;}
}

h1 {
  text-align: center;
  color:black
}

.btn {
  border: 1px solid black;
  border-radius: 90px;
  padding: 10px 30px;
}

.scrape {
  color: white;
  background-color: #d4111b;
  border: none;
  margin: 20px;
  padding: 10px 
}


.logo {
  font-weight: 900 !important;
  font-size: 36px !important;
  color: rgb(14,87,162) !important;

}

#saved {
  font-weight: 900 !important;
  font-size: 24px !important;
  color:black !important;
  background-color: none !important;

}

